*.idx
*.bak
*.log
output.txt
options.txt
mdrv_cmd.txt
profiles/
result1/InstallNewReport.html
result1/
results/
resultSnap/
OutputColoringDatabase.json
interactive_replay_TruClientBrowser.txt
ReplaySummaryReport.xml
Bookmarks.xml
UserTasks.xml
Search_truClient.c.pickle
Breakpoints.xml
